html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #262626;
    font: 13px/1.25 Helvetica, Arial, Geneva, sans-serif;
    margin: 0;
}

.header {
    display: block;
    background: #23262b url("images/bg-header.png") repeat;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 48px;
}

.header #nav {
    max-width: 920px;
    margin: 0px auto;
}

.header #nav #logo {
    display: block;
    background: url("images/geisha-logo.png") center no-repeat;
    width: 210px;
    height: 48px;
    text-indent: -9999px;
    border: 0;
    margin: 0;
    float: left;
}

.header #nav #logo a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

.header #nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    margin-top: 15px;
}

.header #nav li {
    display: inline;
}

.header #nav li a {
    color: white !important;
    padding: 17px 10px;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
}

.header #nav li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

h2 {
    font-size: 28px;
    font-style: normal;
    margin-bottom: 10px;
    color: #191919;
}

.section h3, .comments h3 {
    font-size: 18px;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 0;
    color: #3f3f3f;
}

.author h3 {
    margin: 0;
}

h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}

.toc {
    margin-top: 2em;
}

.article, .comments {
    width: 920px;
    margin: 0px auto;
    padding: 0 0.5em;
}

.titlepage hr {
    display: none;
}

.sidebar .section, .sidebar .abstract, .sidebar .appendix {
    width: 680px;
    float: left;
}

.revhistory {
    display: none;
}

.figure-right {
    float: right;
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
}

.figure-right-contents {
    text-align: center;
}

.section.featurebox {
    overflow: hidden;
    border: 1px solid #a4a4a4;
    background-color: #e5e5e5;
    width: 220px;
    float: none;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.featurebox .titlepage {
    height: 25px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.75) 0 1px 2px;
    border-radius: 4.5px 4.5px 0px 0px;
    -moz-border-radius: 4.5px 4.5px 0px 0px;
    background: #959595;
    background: -moz-linear-gradient(100% 100% 90deg, rgba(0,0,0,0.45), rgba(0,0,0,0.25));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.45)), to(rgba(0,0,0,0.25)));
}

.section.featurebox h3 {
    margin-top: 0;
    font-size: 13px;
    color: #fff;
}

.featurebox p, .featurebox li {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
}

.featurebox ul {
    padding-left: 1em;
    text-indent: 0;
    white-space: normal;
}

.download ul {
    list-style: none;
    padding-left: 0;
    margin: 5px 0;
}

.download li {
    vertical-align: bottom;
    height: 28px;
}

.download a {
    display: block;
    padding-left: 30px;
    height: 28px;
    line-height: 28px;
}

.download a.download-windows {
    background: url("icons/download-windows.png") left no-repeat;
}

.download a.download-mac {
    background: url("icons/download-mac.png") left no-repeat;
}

.download a.download-gp2x {
    background: url("icons/download-gp2x.png") left no-repeat;
}

.download a.download-dingux {
    background: url("icons/download-dingux.png") left no-repeat;
}

.download a.download-android {
    background: url("icons/download-android.png") left no-repeat;
}

.download a.download-source {
    background: url("icons/download-source.png") left no-repeat;
}

.downloadbar {
    text-align: center;
}

.downloadbar img {
    margin-bottom: 5px;
}

#addThis {
    clear: both;
    margin-top: 5em;
    text-align: center;
}

#copyright {
    text-align: center;
    color: #aaa;
    font-size: 8pt;
}

.horizontal a {
    font-size: 150%;
}

.programlisting, .screen {
  border: 1px solid silver;
  background: #f4f4f4;
  margin: 0.5em 10% 0.5em 0;
  padding: 0.5em 1em;
}

.beta {
    color: red;
    text-transform: uppercase;
}

img {
    border: 0;
}

.literal {
    color: navy;
}

/* Syntax highlighting. */
.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */
